
@import url("https://fonts.googleapis.com/css?family=Cinzel");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
body {
	font-family: "Cinzel";
	margin: 0px;
}

a {
	text-decoration: none;
}